*{
    box-sizing: border-box;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
  }


.container{
    
    height: 60vh;
    width: 400px;
    margin: auto;
    background-color: grey;
   
}

    
.input{
    width: 96%;
    height: 8vh;
    margin: 11px 7px;
    font-size: 30px;

}
.div1{
    width: 77px;
    height: 50px;
    background-color: yellow;
    margin: 10px;
    display: inline-block;
    font-size: 32px;
    text-align: center;
    padding-top: 5px;
}
    #equals{
        width: 178px;
    }